
<h1 class="text-center ">Nous contacter</h1>
  <div class=" ">
    <form class="container col-6" action="">
      <div class="form-group">
        <label for="name">
          Votre nom
        </label>
        <input type="text" id="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="mail">
          Votre email
        </label>
        <input type="text" id="mail" class="form-control">
      </div>
      <div class="form-group">
        <label for="mess">
          Votre message
        </label>
        <textarea name="mess" id="mess" cols="30" rows="10" class="form-control"></textarea>
      </div>
      <div class="btn btn-success">Envoyer</div>
    </form>

  </div>


