<head>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">

</head>
<body>


<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="#">Pazapas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="accueil">Accueil <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="danses">Les danses<span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="cours">Les cours <span class="sr-only"></span></a>
      </li>
    </ul>
  </div>
</nav>
<div id="beginning" class="mt-5 mb-5">
  <router-outlet></router-outlet>
</div>
<footer class="footer text-center fixed-bottom bg-secondary">

  <div class="container"  >
    <div class="row">
      <!-- Footer Location-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="">Adresse</h4>
        <p class="lead mb-0">Salle des fetes, Rue de la Salle <br />66670 Bages</p>
      </div>
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="">Contact</h4>
        <p class="lead mb-0"><a id="tel" href="tel:0662224957">Tel : 06 24 42 60 09</a></p>
        <p class="lead mb-0"><a id="mail" routerLink="contact">Mail : pazapas.danse@gmail.com</a></p>
      </div>
      <!-- Footer Social Icons-->
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h4 class="">Mes réseaux</h4>
        <a class=" " target="_blank" href="https://www.facebook.com/PazapasDanse-358103691284796"><i class="fab fa-2x fa-facebook "></i></a>
        <!--        <a class=" " target="_blank" href="https://www.instagram.com/e.llanas.art/"><i class="fab fa-instagram-square fa-2x"></i></a>-->
        <br/>
        <a class="lead mb-0" href="https://haka-informatique.fr/">Propulsé par Haka Informatique</a>

      </div>


    </div>
  </div>
</footer>
<script src="assets/app.js"></script>
</body>
