<!--<ul class="nav justify-content-center">-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link active" href="#bachata">Bachata</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="#rock">Rock'N'Roll</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link" href="#salsa">Salsa</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link " href="#tango" >Tango</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link " href="#passo" >Passo doble</a>-->
<!--  </li>-->
<!--  <li class="nav-item">-->
<!--    <a class="nav-link " href="#chacha" >Chacha</a>-->
<!--  </li>-->
<!--</ul>-->

<h1>Les danses</h1>

<div id="danses">

  <section id="bachata">

    <h2>Bachata</h2>

    <p class="description">La bachata est un rythme dansant originaire de République dominicaine, plein de folklore.
      On peut la considérer comme un mélange de boléro (surtout, le boléro rythmique) avec d'autres
      influences musicales d'origine africaine et avec d'autres styles comme le son, le merengue,
      le cha-cha-cha et le tango.
      La bachata est jouée par plusieurs guitares (deux ou trois), accompagnées de percussions (bongo, maracas, güira) et une basse. On parle aussi de bolero campesino, bolero antillano ou cancion del amargue, une musique associée pendant
      longtemps aux couches sociales les plus défavorisées de Saint-Domingue.</p>
    <div></div>

  </section>

  <section id="rock">

    <h2>Rock'N'Roll</h2>

    <p class="description">La musique Rock 'n' roll des années 1950 s'accompagne de diverses danses. Une partie d’entre elles ont
      une origine antérieure comme le Lindy Hop, le Jitterbug, le swing 6 temps appelé aujourd'hui
      Rock à 6 temps, le Boogie Woogie (Allemagne), la danse Be-Bop (France), le Jive (Angleterre).
      Une autre danse naît à peine un an après la création de la musique rock 'n' roll,
      le Rock à quatre temps, qui est la première danse de couple dansée avec un pas de base 1, 2, 3 et 4.

      Les rock les plus répandus en France étant le rock à quatre temps et le rock à six temps.
      Les deux versions sont composées de passes plus ou moins complexes.
      Celles-ci sont indénombrables et chaque danseur connaît un nombre de passes plus ou moins important
      selon son niveau. C'est le cavalier qui guide la danse et décide des passes à réaliser.
      Le rock 6 temps est une évolution du swing en 8 temps (comme le Lindy) où les 2 temps enlevés rendent
      la danse plus dynamique et plus adaptée à la musique rock.</p>

  </section>


  <section id="salsa">

    <h2>Salsa</h2>

    <p class="description">La salsa est une danse improvisée qui respecte des pas de base, qui se danse généralement à deux,
      où le garçon guide la fille , mais que l'on peut pratiquer également seul, ou à plusieurs :
      en ligne (comparsa, salsa suelta), à plusieurs couples (rueda de casino),
      ou encore un leader et deux partenaires (plus rarement deux leaders et une partenaire).

      L'une des difficultés de la danse vient de la complexité de la musique:
      le premier temps n’est pas toujours marqué de la même manière. Pour danser en cohérence avec
      la musique, il faut pouvoir reconnaître les mesures musicales.</p>

  </section>


  <section id="tango">

    <h2>Tango</h2>
    <p class="description">Le tango est une danse sociale née à la fin du xixe siècle.

      Comme forme rythmique, il désigne le plus souvent une mesure à deux ou quatre temps plutôt marqués,
      mais avec un vaste éventail de tempos et de styles rythmiques très différents selon les époques et
      les orchestres.
      Le tango comme genre musical englobe quant à lui trois formes musicales sur lesquelles se dansent
      traditionnellement les pas du tango : tangos, milongas et valses. Le bandonéon, intégré au sein des
      orchestres de tango,
      composés majoritairement d'instruments à cordes, est traditionnellement l'instrument phare du tango.</p>
  </section>


  <section id="passo">

    <h2>Passo doble</h2>
    <p class="description">Le paso doble (de l'espagnol : pasodoble (sens identique), de paso, « pas », et
      doble, « double ») est une musique à deux temps. Par extension, le paso doble est une danse
      espagnole sur une musique espagnole.
      La musique servant de base au paso doble est martiale. Elle est jouée lors des corridas comme
      le célèbre España cañi, au moment du paseo, pendant la faena et elle s'arrête avant l'estocade.
      Par ailleurs, certains titres, comme El Relicario ou El gato montés, ont donné lieu à des variantes du type paso musette, dans le domaine des orchestres espagnols.

      Des réorchestrations de morceaux divers sont dansables en paso doble (Don't Cry for Me Argentina, etc.)
    </p>
  </section>


  <section id="chacha">

    <h2>Cha-cha-cha</h2>


  </section>
</div>
